
body {
    font-family: 'champagne', sans-serif;
    background-color: #414141;
    color: #929796;
    font-size: 100%;
    overflow: hidden;
    height: 100%;
}

#cadastro, #home, #bucarLojas, #infoLojas, #mapaLocal, #newsPage, #eventosPage {
    right: -100%;
}

#bucarLojas, #home, #cadastro {
    padding-top: 194px;
}

section {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-image: url(../images/bg-aplicativo.png);
    background-attachment: fixed;
    background-position:top center;
    background-size: cover;
    background-repeat: no-repeat;
}

article {
    padding-bottom: 10px;
}

.logo-abertura {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10em;
    margin-left: -5em;
    margin-top: -5em;
}

header {
    background-color: #FFF;
    text-align: center;
    padding: 17px;
    width: 100%;
    height: 194px;
    position: fixed;
    top: 0;
    z-index: 9;
}

header .img-responsive {
    margin: 0 auto;
}

.cadastrar {
    text-align: center;
}

.cadastrar h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 2.8em;
    margin: 0;
    padding: 40px 0;
}

.cadastrar .form-control {
    border:0;
    font-size: 2.5em;
    text-align: center;
    height: 41px;
}

.cadastrar .form-control#nome {
    background-image:url(../images/cadastro-de-nome.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10px 0;
}

.cadastrar .form-control#email {
    background-image:url(../images/cadastro-de-email.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

.cadastrar .form-group {
    padding: 0 38px;
}

.btn-default {
    background-color:#929796;
    border: 0;
    font-size: 2.7em;
    font-weight: bold;
    color: #FFF;
    padding: 0 40px;
}

.menuNavegacao {
    padding: 40px 0;
    text-align: center;
    color: #FFF;
}

.menuNavegacao .row {
    margin-bottom: 40px;
}

.conteudoLojas {
    padding-top: 20px;
}

.conteudoLojas .form-group {
    padding: 0 30px;
    margin-bottom: 40px;
}

.conteudoLojas .form-control {
    font-size: 2.5em;
    text-align: center;
    height: 40px;
}

.conteudoLojas .lojaLink {
    margin-bottom: 15px;
}

.conteudoLojas .lojaLink a {
    display: block;
    background-color: #FFF;
    font-size: 1.9em;
    color: #929796;
    border-radius: 7px;
    padding: 3px;
    overflow: hidden;
}

.conteudoLojas .boxInfosLoja {
    background-color: #FFF;
    padding:15px;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}
.conteudoLojas .boxInfosLoja h2 {
    margin: 0;
    padding-bottom: 30px;
    font-size: 2em;
}

.conteudoLojas .boxInfosLoja p {
    margin: 0;
    font-size: 1.8em;
}

.contentMapa {
    margin-left: 15px;
    margin-right: 15px;
}

.contentMapa #gerarMapa {
    width: 100%;
    height: 400px;
    background-color: #FFF;
    margin-top: 20px;
}

.contentMapa .boxBtRota {
    text-align: center;
    padding-top: 20px;
}

.contentMapa .boxBtRota .btn-default {
    background-color: #FFF;
    font-weight: normal;
    color:#929796;
}

.linhaNews {
    margin-top: 30px;
}

.linhaNews a.btNews {
    display: block;
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px;
    font-size: 3.8em;
    text-align: right;
    font-weight: bold;
    color:#000;
    background-image: url(../images/icone-bt-jornal.png);
    background-repeat: no-repeat;
    background-position: 3px 50%;
}

.boxNewsImg {
    margin-top: 30px;
    padding: 0 15px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index:2;
    height: 51px;
}

footer a.linkVoltar {
    width: 40px;
    display: block;
    padding-bottom: 15px;
}

#progress {
    border-radius: 10px;
    background-color: rgba(0,0,0,.7);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 60px;
    line-height: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 200px;
    z-index: 1;
}

.status_lojas {
    padding-bottom: 40px;
}

.op_status_loja {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 50%;
}

.op_status_loja li {
    display: block;
    height: 32px;
    margin-bottom: 5px;
    font-size: 24px;
    color: #FFFFFF;
    padding-left: 41px;
}

.op_status_loja li.sinal_verde {
    background: url(../images/sinal.png) no-repeat top left;
}

.op_status_loja li.sinal_amarelo {
    background: url(../images/sinal.png) no-repeat center left;
}

.op_status_loja li.sinal_fechada {
    background: url(../images/sinal.png) no-repeat bottom left;
}

.icon_status {
    display: block;
    height: 32px;
    margin-bottom: 5px;
    font-size: 24px;
    color: #FFFFFF;
    padding-left: 41px;
    float: right;
}

.icon_status.aberta {
    background: url(../images/sinal.png) no-repeat top left;
}

.icon_status.volto_l {
    background: url(../images/sinal.png) no-repeat center left;
}

.icon_status.fechada {
    background: url(../images/sinal.png) no-repeat bottom left;
}

a.linkVoltarTop {
    width: 40px;
    display: block;
    position: absolute;
    z-index: 9;
    top: 130px;
}