<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "br.com.theofficenubra"
        versionCode = "11"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>The Office Nubra</name>

    <description>
        Aplicativo institucional da The Office Nubra, uma associação que reúne os principais fornecedores dos seguimentos de jóias, anéis, brincos, pulseiras, colares, tudo confeccionado em ouro, prata, folhados, banhados e bijuterias.
    </description>

    <author href="http://agenciath.com.br" email="gmeschini@agenciath.com.br">
        Thought Imagem e Produção
    </author>

    <icon src="images/icon.png" />

    <!-- iPhone / iPod Touch -->
    <icon src="images/icon.png" platform="ios" width="57" height="57" />
    <icon src="images/icon@2x.png" platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="images/icon-72.png" platform="ios" width="72" height="72" />
    <icon src="images/icon-72@2x.png" platform="ios" width="144" height="144" />

    <platform name="ios" >
        <preference name="orientation" value="portrait" />
    </platform>

    <platform name="android" >
        <preference name="orientation" value="portrait" />
    </platform>

    <preference name="permissions" value="none"/>

    <access origin="*" />
    <allow-navigation href="theofficenubra.com.br" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>