<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "br.com.theofficenubra"
        versionCode = "23"
        version     = "1.0.9" >

    <!-- versionCode is optional and Android only -->

    <name>The Office Nubra</name>

    <description>
        Aplicativo institucional da The Office Nubra, uma associação que reúne os principais fornecedores dos seguimentos de jóias, anéis, brincos, pulseiras, colares, tudo confeccionado em ouro, prata, folhados, banhados e bijuterias.
    </description>

    <author href="http://agenciath.com.br" email="gmeschini@agenciath.com.br">
        Thought Imagem e Produção
    </author>

    <icon src="images/icon.png" />
    <gap:splash src="images/bg-aplicativo.png" />

    <splash src="images/Default-568h@2x.png" platform="ios" width="640" height="1136" />

    <!-- iPhone / iPod Touch -->
    <icon src="images/icon.png" platform="ios" width="57" height="57" />
    <icon src="images/icon@2x.png" platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="images/icon-72.png" platform="ios" width="72" height="72" />
    <icon src="images/icon-72@2x.png" platform="ios" width="144" height="144" />

    <platform name="ios" >
        <preference name="orientation" value="portrait" />
    </platform>

    <platform name="android" >
        <preference name="orientation" value="portrait" />
    </platform>

    <preference name="permissions" value="none"/>

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
        <param name="ios-package" value="CDVLocation" />
    </feature>

    <plugin name="cordova-plugin-whitelist" spec="1.2.0" />
    <plugin name="org.apache.cordova.inappbrowser" spec="0.6.0" source="pgb" />
    <plugin name="org.apache.cordova.geolocation" />
    <plugin name="org.apache.cordova.device" version="0.2.3" />

    <access origin="*" />
    <allow-navigation href="*" />

    <access origin="http://*" launch-external="yes" />
    <access origin="https://*" launch-external="yes" />

</widget>